<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title prefix="Open Commentaries - ">
      <%= assigns[:page_title] || "Home" %>
    </.live_title>
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
    <link phx-track-static async rel="stylesheet" href={~p"/assets/app.css"} />
  </head>
  <body class="bg-slate-50 min-h-screen">
    <nav>
      <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <div class="flex sm:h-64 h-24 justify-between">
          <div class="flex">
            <div class="hidden sm:-my-px sm:flex sm:space-x-8 sm:items-center">
              <.link href={~p"/"} class="text-slate-700 hover:text-gray-300 px-3 py-2 font-medium">
                Ajax Multi-Commentary
              </.link>
            </div>
          </div>
          <div class="-mr-2 flex items-center sm:hidden">
            <label
              class="relative inline-flex items-center justify-center rounded-md p-2 text-stone-600 hover:bg-stone-100 hover:text-stone-500 focus:outline-none focus:ring-2 focus:ring-stone-500 focus:ring-offset-2 opacity-75"
              for="mobile-menu-button"
            >
              <span class="absolute -inset-0.5"></span>
              <span class="sr-only">Open main menu</span>
              <!-- Menu open: "hidden", Menu closed: "block" -->
              <svg
                class="block h-6 w-6"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                aria-hidden="true"
              >
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
              </svg>
            </label>
          </div>
        </div>
      </div>
      <!-- Mobile menu, show/hide based on menu state. -->
        <!-- Mobile menu button -->
      <input
        type="checkbox"
        class="sr-only appearance-none fixed h-0 w-0 opacity-0 peer"
        aria-controls="mobile-menu"
        id="mobile-menu-button"
      />
      <div
        class="sm:hidden absolute -top-72 transition duration-500 peer-checked:top-0 peer-checked:relative"
        id="mobile-menu"
      >
        <div class="border-t border-gray-200 pb-3 pt-4">
          <div class="mt-3 space-y-1 pointer-events-auto">
            <.link href={~p"/"} class="block px-4 py-2 text-base font-medium text-white hover:opacity-75">
              Ajax Multi-Commentary
            </.link>
            <.link href={~p"/commentaries"} class="block px-4 py-2 text-base font-medium text-white hover:opacity-75">
              Available commentaries
            </.link>
          </div>
        </div>
      </div>
    </nav>

    <article class="mx-auto max-w-7xl px-6 lg:px-8 py-24">
      <h1 class="text-7xl font-semibold mb-4 text-stone-700">
        The <span class="italic">Ajax</span> Multi-Commentary Project
      </h1>
      <h2 class="text-xl text-stone-600">
        How does a classical hero die in the digital age? Using Sophocles&rsquo; <span class="italic">Ajax</span>
        to create a commentary on commentaries.
      </h2>
      <section>
        <div class="mt-20 max-w-2xl sm:mx-auto md:max-w-none flex">
          <figure class="max-w-full">
            <img
              class="h-auto max-w-full rounded-sm self-center"
              src="/images/multicommentary_guy_HR.jpg"
              alt="image description"
            />
            <figcaption class="mt-2 text-sm text-gray-500 dark:text-gray-400">
              Photo credits: © <a href="https://www.fondationhardt.ch/">Fondation Hardt</a>, Vandoeuvres, 2019.
            </figcaption>
          </figure>
        </div>
      </section>
    </article>
    <footer class="mx-auto mt-32 w-full max-w-container px-4 sm:px-6 lg:px-8">
      <div class="border-t border-slate-900/5 py-10">
        <p class="mt-5 text-center text-sm leading-6 text-slate-500">
          © Matteo Romanello 2023
        </p>
      </div>
      <div class="mb-8 flex items-center justify-center space-x-4 text-sm font-semibold leading-6 text-slate-700">
        <a href="https://gdpr.harvard.edu/eeaprivacydisclosures">Terms of use</a>
        <a href="https://accessibility.huit.harvard.edu/digital-accessibility-policy">Digital Accessibility</a>
      </div>
    </footer>
    <script defer type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </body>
</html>
